<h2>List of movies</h2>
<ul>
  <li *ngFor="let movie of movies; index as i">
    <h2 (click)="movieClicked(i)">{{movie.title}}</h2>
  </li>
</ul>
Title <input type="text" [(ngModel)]="selected.title"/><br>
Desc <input type="text" [(ngModel)]="selected.desc"/><br>
Year <input type="text" [(ngModel)]="selected.year"/><br>
<button *ngIf="selected.id != -1" (click)="updateMovie()">PUT</button>
<button (click)="addMovie()">POST</button>
<button *ngIf="selected.id != -1" (click)="deleteMovie()">DELETE</button>